asgiref==3.10.0
attrs==25.4.0
cffi==2.0.0
cfgv==3.4.0
cryptography==46.0.3
diff-match-patch==20241021
distlib==0.4.0
Django==5.2.8
django-cors-headers==4.9.0
django-dbbackup==4.0.2
django-extensions==4.1
django-filter==25.2
django-import-export==4.3.13
django-otp==1.6.3
django-simple-history==3.10.1
django-unfold==0.70.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
drf-spectacular-sidecar==2025.10.1
et_xmlfile==2.0.0
Faker==40.1.2
filelock==3.20.0
graphviz==0.21
gunicorn==23.0.0
identify==2.6.15
inflection==0.5.1
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
mysqlclient==2.2.7
nodeenv==1.9.1
numpy==2.3.5
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pillow==12.0.0
platformdirs==4.5.0
pre_commit==4.4.0
pycparser==2.23
pygraphviz==1.14
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
rpds-py==0.28.0
segno==1.6.6
six==1.17.0
sqlparse==0.5.3
tablib==3.9.0
typing_extensions==4.15.0
tzdata==2025.2
uritemplate==4.2.0
virtualenv==20.35.4
whitenoise==6.11.0
